<div class="fondomain container-fluid  animated fast fadeIn">
    <br>
    <div class="row">

        <div class="container col-lg-2 col-md-12 p-2" style="margin-left:0px;">

            <div class="container col-md-12 d-flex justify-content-center inputform text-center " style="opacity:0.85;">
                <form  class="formbusqueda  animated  fast fadeIn">
                    <div class="col-md-12 text-center" style="margin:auto; font-family:cursive;font-size:12px;">
                        <span class="tituloform">Flights Report</span>
                    </div>
                    <div class="container-fluid intoform  form-group">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 text-center">
                                <label for="mcar">Market:  </label>
                            </div>
                            <div class="col-md-6 col-sm-12 text-center">
                                <input class="intoforminput"type="text" id="mcar" size="4" maxlength="2" name="market" formControlName="market" /><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 text-center">
                                <label for="flight"> Flight Number: </label>
                            </div>
                            <div class="col-md-6 col-sm-12 text-center">
                                <input class="intoforminput" type="text" id="flight" size="4" maxlength="4" name="flightini" formControlName="flightini" /><br>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 text-center">
                                <label for="ocar">Operator: </label>
                            </div>
                            <div class="col-md-6 col-sm-12 text-center">
                                <input class="intoforminput" type="text" id="ocar" size="4" maxlength="2" name="codope" formControlName="codope" /><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 text-center">
                                <label for="flightnumberoperator">Flight Operator:</label>
                            </div>
                            <div class="col-md-6 col-sm-12 text-center">
                                <input class="intoforminput" type="text" id="flightnumberoperator" size="4" maxlength="4" name="flightope" formControlName="flightope" /><br>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 text-center">
                                <label for="origen">Origin: </label>
                            </div>
                            <div class="col-md-6 col-sm-12 text-center">
                                <input class="intoforminput" type="text" id="origen" size="4" maxlength="4" name="origen" formControlName="origen" /><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 text-center">
                                <label for="destino">Destin: </label>
                            </div>
                            <div class="col-md-6 col-sm-12 text-center">
                                <input class="intoforminput" type="text" id="destino" size="4" maxlength="4" name="destino" formControlName="destino" /><br>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="container">
                                <div class="col-md-3">
                                    <label for="destino">Date: </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <div class="col-md-4 text-center">
                                    <input class="fondofecha" type="date" name="fechainit" formControlName="fechainit" />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <!--onKeyUp="this.value=this.value.toUpperCase();"-->
                        <div class="container">
                            <button *ngIf="view" type="submit" class="btn btn-success btn-block" style="padding:1px;font-size:12px;">VIEW
                             <!--onclick="getFlight()"-->
                             </button>
                        </div>
                        <br>
                        <div *ngIf="hide" class="container">
                            <button (click)="closeTable()" type="button" class="btn btn-warning btn-block" style="padding:1px;font-size:12px;">HIDE
                             <!--onclick="getFlight()"-->
                             </button>
                        </div>
                    </div>
                </form>

            </div>

            <br>
            <div class="row ">
                <div class="container-fluid  d-flex justify-content-center">
                    <app-chats></app-chats>
                </div>
            </div>


        </div>
       

    </div>

</div>